/* A single row table with the images side by side, filling the whole screen. */
table.side-by-side img {
	max-height: 500px;
	max-width: 500px;
	padding: 10px;
	margin: 10px;
}

table.side-by-side {
	background-color: white;
/*	border-radius: 15px;
	box-shadow: 10px 10px 5px #888;
*/
	margin-left: auto;
	margin-right: auto;
}

table.side-by-side td {
	vertical-align: middle;
}

.upper-padding {
	padding-top: 3cm;
}

table.border, th, td
{
  border: 1px solid black;
}

th.border, td
{
  border: 1px solid black;
}

td.border
{
  border: 1px solid black;
}

td.border
{
  padding:15px;
}
